.AdminAccess{
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AdminAccess h3{
    color: #025F56;
    font-weight: 500;
}

.AdminAccess button{
    width: fit-content;
    margin: 1vw;
    padding: 1vw;
    border: none;
    border-radius: 5px;
    background-color: #025F56;
    color: white;
    cursor: pointer;
}

.AdminAccess .admins{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 1.5vw;
}

.AdminAccess .line{
    display: block;
    width: 50vw;
    height: .2vw;
    background: #F17211;
    margin: 2vw auto;
}