.donateCarousel {
    margin: 10px auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px 10px;
    align-items: center;
}

@media only screen and (max-width:1000px) {
    .donateCarousel {
        grid-template-columns: repeat(2,auto);
    }
}

@media only screen and (max-width:700px) {
    .donateCarousel {
        grid-template-columns: repeat(1,auto);
    }
}

.donationComponent {
    text-align: center;
}

.donationComponent h1 {
    display: block;
    margin: auto;
    margin: 2vw auto;
    width: fit-content;
    color: #00544b;
}