.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #025f56;
    color: #ffffff;
    overflow: hidden;
}

/* Social media links section */
.footer-socialmedialinks{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 2rem;
    padding: 0.5rem 0.5rem;
    background-color: #dffdfa;
}

.social-links a{ 
    font-size: 2rem;
    margin: 0 0.5rem;
}

/* Footer body section*/
.footer-body{
    display: grid;
    grid-template-columns: repeat(4,25%);
    column-gap: 0.5rem;
    margin: 1rem;
}

.quick-links {
    position: relative;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.footer-body a{
    text-decoration: none;
    color: white;
}

/* CopyRight section */
.footer-copyright{
    height: 2rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: #01403a
}

/* Media queries for responsive design */

/* Mobile */
@media screen and (max-width: 800px){
    .footer-body {
        display: grid;
        grid-template-columns: repeat(1,auto);
        row-gap: 0.5rem;
        margin: 1rem;
    }
}

/* Tablet */
@media screen and (min-width: 800px) and (max-width: 1024px){
    .footer-body {
        display: grid;
        grid-template-columns: repeat(3,auto);
        gap: 0.5rem 0.5rem;
        margin: 1rem;
    }

    .footer-body div:nth-last-child(1) {
        grid-column: 1 / span 2;
    }
}

/* Social media icons */
.youtube-social {
    color: #FF0000;
}

.facebook-social {
    color: #4267B2
}

.twitter-social {
    color: #1DA1F2
}
