.partners{
    margin: 10px auto;
}

.partners-deck {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw ;
    grid-gap: 3vw;
    justify-content: center;
    margin: 3vw auto;
    padding-bottom: 12vw;
}
/* 
.partners img{
    width: 20vw;
    height: 20vw;
    color: white;
} */

.partners .card {
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    color: white;
    cursor: pointer;
    height: 25vw;
}

.partners .card:hover .card-description{
    height: 100%;
    background-color: #025f56e8;
}

.partners .card-description {
    font-size: 1.25vw;
}

.partners .mini-caption {
    /* position: relative; */
    height:18%;
    width: 90%;
    background: #025f56;
    color: white;
    font-weight: 400;
    font-size: 1vw;
    display:flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    line-height: 120%;
    padding: 0px 5%;

}

h2{
    text-align: center;
}

@media screen and (max-width:800px) {
    .partners-deck {
        display: grid;
        grid-template-columns: 35vw 35vw ;
        grid-gap: 3vw;
        justify-content: center;
        margin: 3vw auto;
        padding-bottom: 5vh;
    }
    .partners .card {
        position: relative;
        border-radius: 2%;
        overflow: hidden;
        color: white;
        cursor: pointer;
        height: 35vw;
    }
    .partners .card-description {
        font-size: 1.8vw;
    }
    .partners .mini-caption {
        /* position: relative; */
        height:18%;
        width: 90%;
        background: #025f56;
        color: white;
        font-weight: 400;
        font-size: 1.8vw;
        display:flex;
        align-items: center;
        justify-content:center;
        overflow: hidden;
        line-height: 120%;
        padding: 0px 5%;
    
    }
}

@media screen and (max-width:450px) {
    .partners-deck {
        display: grid;
        grid-template-columns: 40vw 40vw ;
        grid-gap: 3vw;
        justify-content: center;
        margin: 3vw auto;
        padding-bottom: 5vh;
    }
    .partners .card {
        position: relative;
        border-radius: 2%;
        overflow: hidden;
        color: white;
        cursor: pointer;
        height: 40vw;
    }
    .partners .card-description {
        font-size: 2vw;
    }
    .partners .mini-caption {
        /* position: relative; */
        height:18%;
        width: 90%;
        background: #025f56;
        color: white;
        font-weight: 400;
        font-size: 2vw;
        display:flex;
        align-items: center;
        justify-content:center;
        overflow: hidden;
        line-height: 120%;
        padding: 0px 5%;
    
    }
}