.top-navbar{
    margin: 0px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #025F56;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    color:#fff;
    text-decoration: none;
    font-size: 2vmin;
    width: 100%;
}
button{
    text-decoration: none;
    background-color: #025F56;
    border: none;
    padding: 10px;
    border-radius: 15px;
    color: white;
    margin: 0px;
    cursor: pointer;
}
.navbar{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    vertical-align: middle;
    justify-content:space-between;
}

.navbar .side-menubar{
    display:none;
}
.navbar .side-menubar-cross{
    display:none;
}

.navbar .logo{
    margin: 0px;
    padding: 10px;
    padding-left: 25px;
    cursor: pointer;
    height: 100px;
    width: 217px;
}
.navbar .nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .nav-list .nav-div{
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    font-size: 17px;
}
.navbar .nav-list .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}

button:focus{
    background-color: #00b19f;
    transition: 200ms;
}

@media screen and (max-width:600px) {
    .top-navbar{
        display: none;
    }
    .navbar{
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    .navbar .logo{
        height: 75px;
        width:160px
    }
    .navbar .nav-list .side-menubar-cross{
        display: flex;
        margin: 0px;
        margin-top: 10px;
        margin-right: 10px;
        padding: 12px;
        height: fit-content;
        width: fit-content;
        border-radius: 20px;
    }
    .navbar .side-menubar{
        display: flex;
        margin: 0px;
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
        height: fit-content;
        width: fit-content;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .navbar .nav-list{
        display: none;
        justify-content: right;
        align-items:flex-end;
        flex-direction: column;
        width: 45%;
        height: 100vh;
        margin: 0px;
        padding: 0px;
        background-color:#00b19f;
        font-weight: 500;
    }
    .navbar .nav-list .nav-div{
        display: flex;
        flex-direction: column;
        width: 80%;
        row-gap: 20px;
        padding: 10%;
        margin: 0px;
        margin-top: 20px;
        
    }
    .navbar .nav-list .nav-div .nav-item{
        display: flex;
        justify-content: left;
    }
    a{
        text-decoration: none;
        color: rgb(240, 240, 240);
        display: block;
        font-size: 20px;
    }
    button:focus{
        background-color: #025F56;
        transition: 200ms;
    }
    
    
}